# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
rasa/

# RASA specific
.rasa/
models/
output.wav
feedback_log.jsonl

# IDE files
.idea/

# Jupyter
*.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
